# Ignore the google_api directory
google_api/

# ignore all saved data
data/

# ignore Slides
Slides/
# slide_plots/

# ignore levels data
levels_data/

# other stuff that exists, but I dunno why
.DS_Store
.idea/
geckodriver.log
